
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f1517;
    color: white ;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a { 
    text-decoration: none;
}

ul { 
    list-style: none;
}

nav{
    max-width: 1220px;
    margin: auto;
    padding: 24px 160px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Logo{ 
    font-family: Teko;
    font-size: 32px;
    font-weight:600;
    color: #ffffff;
    text-transform: uppercase;
}

html{
    scroll-behavior: smooth;
}

.menu {
    display: flex;
    flex-direction: row;
    gap:24px 24px;
    color: #fff2e780;
}

.github {
    color: #fff2e7; 
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.principal-hero{ 
    background-color: #181012;
}

.hero{
    max-width: 1835px;
    height: 66vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    padding: 0px 32px;
    margin: auto;

    overflow:clip;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.destaque{ 
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 10px;
}

.marrom {
    color: #A45A49;
}
 
.amarelo {
    color: #E7a80e;
}

h1 {
     font-family: Montserrat;
     font-size: 56px;
     font-weight: 800;
}

hr{ 
    border-color: #A45A49;
}

.hero-subtitulo {
    font-family: Inter;
     font-size: 16px;
     font-weight: 400;
}

.hero-imagens {
    max-width: 45%;
    width: 1890px;
    column-count: 4;
    column-gap: 20px;
    margin: -16px;
}

.hero-imagens > figure > img {
    width: 100%;
    border-radius: 8px;
}

.botao-container {
    width: 100%;
    max-width: 1890px;
    margin: auto;
    padding:20px;
    border: 1px solid #1f1517 ;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #1f1517;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    
}
.hiddem{
    max-height: 0;
    opacity: 0;
    padding: 0;
}

button { 
    border: none;
    padding: 16px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background-color: #A45A49;
    
}
button:hover{
    background-color: #A45A49;
}

.receitas { 
    display: flex;
    flex-direction: column;
    max-width: 1890px;
    padding: 24px 17px;
    margin: auto;
}

.receitas-cabecalho { 
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.receitas-titulo { 
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    color: #fff2e7;
    padding-left: 10px;
}

.receitas-subtitulo {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: #C8BAB3;
    padding-left: 10px;
}

.receitas-card-container {
    padding: 50px 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
}

.receitas-card { 
    background: #241a1c;
    padding:32px;
    border-radius: 8px;
    display:flex;
    flex-direction:column;
    gap: 32px;
    flex-basis: 464px;
    margin-top: 32px;
}

.receitas-card-cabecalho { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.receitas-emalta{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.receitas-titulo {
    font-family:Montserrat;
    font-weight:700;
    font-size: 24px;
    color:#fff2e7;
}

.receitas-avalição { 
    color:#756a67;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.receitas-descricao { 
    color: #c7bac7;
    font-family: Inter;
    font-size: 16PX ;
    font-weight: 400;
} 

.receitas-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.receitas-autor > img { 
    border-radius: 320px;
    width: 24px;
}

.receitas-autor-nome {
    color: #c7bac7;
    font-family: Inter;
    font-size: 16PX ;
    font-weight: 600;
}

footer{
    padding:64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: #23181A;
 }

 .footer-copy { 
    color: #fff2e7;
    font-family: Inter;
    font-size: 16PX ;
    font-weight: 500;
 }

 .footer-autor {
    color: #fff2e780;
    font-family: Inter;
    font-size: 16PX ;
    font-weight: 500;
 }


